@{
    ViewData["Title"] = "Almost Heavenly Movies | Home Page";
}

<div class="text-center">
    <h1 class="display-4">Almost Heavenly Movies</h1>

    <p>Our movies are almost heavenly.</p> 
    
    <p>If it weren't for the occasional swear word like "Gosh" and "Dang", they'd be divine.</p>

    <p>See our  <a asp-controller="Movies" asp-action="Index">list of movies</a>.</p>
</div>
